
@media only screen {
    body {
        background-color: #88c1d0;

    }
}

@media (max-width : 1100px) and (max-height : 900px) {
    body {
        background-color: #ffca4b;
    }
}
@media (max-width : 920px) and (max-height : 680px) {
    body {
        background-color: #275fa0;
    }
}

@media (max-width : 680px){
    body {
        background-color: #ffffff;
    }
}
